<h1> Function in angular</h1>
<button (click)="getName('ashutosh')"> Click me</button>
<!-- <button (click)="getName()"> Click me</button> -->
<button (click)="getnumber()"> Click me to get number</button>
<app-comp2></app-comp2>

<button (click)="getdate()">Hello world</button>
<br>
<br>
<input type="text" #box placeholder="event key up" (keyup)="getevent(box.value)">
<input type="text" #box1 placeholder="event key down" (keydown)="getevent(box1.value)">
<input type="text" #box2 placeholder="event blur" (blur)="getevent(box2.value)">
<input type="text" #box3 placeholder="event input" (input)="getevent(box3.value)">

<h1 (mouseover)="getName('ashutosh')">hello world</h1>


<button (click)="counter('minus')">--</button>
<p>count : {{count}}</p>
<button (click)="counter('add')">++</button>
<br>

<input type="text" name="user-name"  value={{name}} disabled={{disable}}>
<br>
<br>
<input type="text" name="user-name"  [value]=name [disabled]=disable>
  
<br>
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock"> </h1>

<ng-template #ifBlock>
  <h1>If condition</h1>
</ng-template>

<ng-template #elseBlock>
<h1> Else Condition</h1>

</ng-template>


<!-- number pipes
slice pipe
currency pipes -->

<!-- pipes -->

<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h5> {{today}}</h5>
<h5> {{today | date}}</h5>
<h5> {{today | date:'fullDate'}}</h5>


<h1>{{title | slice :3:6 |uppercase}}</h1>
<h4> {{user | json | uppercase}}</h4>
<h3 >{{00000002000.3000 |number:'2.2-3'}}</h3>
<h3 >{{2.3 |number:'3.3-5'}}</h3>
<h2>{{20 | currency:'USD'}}</h2>
<h2>{{20 | currency:'INR'}}</h2>




<h2> {{20 | userpipe : 72}}</h2>

<h1>{{title}}</h1>
<ng-template [ngIf]="color==='red'">
  <h1 style="color:red">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color:green">green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color:blue">blue Color</h1>
</ng-template>

<div [ngSwitch]="color" >
<h1  *ngSwitchCase="'red'" style="color: red;">Hello I am Red</h1>
<h1  *ngSwitchCase="'palevioletred'" style="color: palevioletred;">Hello I am palevioletred</h1>
<h1  *ngSwitchCase="'orange'" style="color: orange;">Hello I am Red</h1>
</div>

<h1>For Loop</h1>
<h3 *ngFor="let item of users">My Name is {{item}}</h3>
<h4 *ngFor="let item of userDetail">My Name is {{item.email}} -- {{item.name}}</h4>


<h1>Nested for loop</h1>

<ul *ngFor="let user of userDetailofsocial">
<li>Name is {{user.name}}</li>
<li>Email is {{user.email}}</li>
<li> Social Accounts </li>
<ul *ngFor="let items of user.socialAccounts"> 
<li> {{items}}</li>
</ul>
</ul>

<h1>style Binding</h1>

<h3 [style.color]="color">{{title}}</h3>
<button (click)="updateColor()"> Update Color</button>

<h5 [style.color]="color" [style.backgroundColor]="bgcolor">{{title}}</h5>
<button (click)="updatebgcolor()"> Update bckground color</button>


<app-header></app-header>