<h1> Function in angular</h1>
<button (click)="getName('ashutosh')"> Click me</button>
<!-- <button (click)="getName()"> Click me</button> -->
<button (click)="getnumber()"> Click me to get number</button>
<app-comp2></app-comp2>

<button (click)="getdate()">Hello world</button>
<br>
<br>
<input type="text" #box placeholder="event key up" (keyup)="getevent(box.value)">
<input type="text" #box1 placeholder="event key down" (keydown)="getevent(box1.value)">
<input type="text" #box2 placeholder="event blur" (blur)="getevent(box2.value)">
<input type="text" #box3 placeholder="event input" (input)="getevent(box3.value)">

<h1 (mouseover)="getName('ashutosh')">hello world</h1>


<button (click)="counter('minus')">--</button>
<p>count : {{count}}</p>
<button (click)="counter('add')">++</button>
<br>

<input type="text" name="user-name"  value={{name}} disabled={{disable}}>
<br>
<br>
<input type="text" name="user-name"  [value]=name [disabled]=disable>
  
<br>
<h1 *ngIf="show=='yes'; then ifBlock else elseBlock"> </h1>

<ng-template #ifBlock>
  <h1>If condition</h1>
</ng-template>

<ng-template #elseBlock>
<h1> Else Condition</h1>

</ng-template>


<!-- number pipes
slice pipe
currency pipes -->

<!-- pipes -->

<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h5> {{today}}</h5>
<h5> {{today | date}}</h5>
<h5> {{today | date:'fullDate'}}</h5>


<h1>{{title | slice :3:6 |uppercase}}</h1>
<h4> {{user | json | uppercase}}</h4>
<h3 >{{00000002000.3000 |number:'2.2-3'}}</h3>
<h3 >{{2.3 |number:'3.3-5'}}</h3>
<h2>{{20 | currency:'USD'}}</h2>
<h2>{{20 | currency:'INR'}}</h2>




<h2> {{20 | userpipe : 72}}</h2>

<h1>{{title}}</h1>
<ng-template [ngIf]="color==='red'">
  <h1 style="color:red">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='green'">
  <h1 style="color:green">green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='blue'">
  <h1 style="color:blue">blue Color</h1>
</ng-template>

<div [ngSwitch]="color" >
<h1  *ngSwitchCase="'red'" style="color: red;">Hello I am Red</h1>
<h1  *ngSwitchCase="'palevioletred'" style="color: palevioletred;">Hello I am palevioletred</h1>
<h1  *ngSwitchCase="'orange'" style="color: orange;">Hello I am Red</h1>
</div>

<h1>For Loop</h1>
<h3 *ngFor="let item of users">My Name is {{item}}</h3>
<h4 *ngFor="let item of userDetail">My Name is {{item.email}} -- {{item.name}}</h4>


<h1>Nested for loop</h1>

<ul *ngFor="let user of userDetailofsocial">
<li>Name is {{user.name}}</li>
<li>Email is {{user.email}}</li>
<li> Social Accounts </li>
<ul *ngFor="let items of user.socialAccounts"> 
<li> {{items}}</li>
</ul>
</ul>

<h1>style Binding</h1>

<h3 [style.color]="color">{{title}}</h3>
<button (click)="updateColor()"> Update Color</button>

<h5 [style.color]="color" [style.backgroundColor]="bgcolor">{{title}}</h5>
<button (click)="updatebgcolor()"> Update bckground color</button>


<app-header></app-header>

<h1>Basic Form</h1>
<form  #basicForm="ngForm"  (ngSubmit)="getData(basicForm.value)">
<input type="text" ngModel name="user" placeholder="enter user Name">
<br>
<br>
<input type="text" ngModel name="email" placeholder="Enter user Email">
<br>
<br>
<input type="text" ngModel name="password" placeholder="Enter User Password">
<br>
<br>

<button>Register</button>
</form>
<ul>
  <li>{{Userdata.user}}</li>
  <li>{{Userdata.email}}</li>
  <li>{{Userdata.password}}</li>
</ul>

<h1>Toggle</h1>

<button (click)="toggle()">TOGGLE</button>
<h4 *ngIf="display">heading tag</h4>

<h3>angular Bootstrap</h3>
<ngb-alert [dismissible]="false">
	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>


<h3>To do lsit</h3>

<input type="text" placeholder="enter new task" #task/>
<br>
<br>
<button (click)="addtask(task.value)">Add Taks</button>


<ul *ngFor="let item of list">
  <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>

</ul>



<app-child [itemid]="Dataitem"></app-child>
<!-- <app-child [itemid]="Dataitem"></app-child>
<app-child [itemid]="Dataitem"></app-child> -->

<button (click)="updateChild()"> Update Child Component</button>

<!-- <h4>Resuabel component</h4> -->
<h3>Two way binding</h3>


<input type="text" [(ngModel)]="namea">

<h1>{{namea}}</h1>

<h3>Template refrance variable</h3>

<input type="text" #boxa>
<button (click)="getval(boxa.value)">call function</button>

<!-- 
<h3>Template driven forms</h3>
<form #loginform="ngForm" (ngSubmit)="loginuser(loginform.value)">
  <input type="text" placeholder="enter name" name="name" ngModel>
  <br><br>
  <input type="password" placeholder="enter password" name="password" ngModel>
  <br><br>
  <button>Login</button>

</form>


<button (click)="loginuser(loginform.value)"> signup</button> -->

<h3>Reactive form</h3>
<form [formGroup]="loginformab" (ngSubmit)="loginuserform()">

  <input type="text" placeholder="enter name" name="userbind" formControlName="userbind">
  <br>
  
  <br>
  <input type="password"  name="passwordforform" formControlName="passwordforform">
  <br>
  <br>
  <button>clikc</button>
</form>


<h3>Directive</h3>
<h1 appRedgl>{{title}}</h1>



<h1>code by ashutosh mali</h1>
<a routerLink="user"> home</a>
<br>
<a routerLink="about"> about</a>
<br>
<a routerLink="self"> User</a>

<br>


<a routerLink="user/1"> home</a>
<br>
<a routerLink="user/2"> about</a>
<br>
<a routerLink="user/3"> User</a>
<router-outlet></router-outlet>


<ul>
  <li *ngFor=" let item2 of ashutosh">
  {{item2.name}} {{item2.age}} {{item2.email}}
  </li>
</ul>